body{
    margin:20 px;
    
    font-family: Arial, Helvetica, sans-serif;
}

.img{
    width: 150px;
}

.card{
    width: 400px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    
    margin:0px auto;

    text-align: center;
    border-bottom: 4px solid #582c51;
    
    background-color: #a08a99;
}
